@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
:root {
  --black: #141414;
  --baby-ff: "Oooh baby" cursive;
}

.circle-cursor {
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid white;
  box-shadow: 0 0 20px white;
  position: absolute;
  z-index: 999999999;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: background 0.5s;
}
